/*
    Created by Jevgenij Guzikovskij.
    This document holds all the styling for the admin pages.
*/

/* Admin login page styling */
.admin_login{
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 10% auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

/* Styling applied when resolution changes */
@media only screen and (max-width: 768px) {
    div>form{
        align-items: center;
    }
}

/* Navigation bar holder */
.navigation{
    /* Position */
    margin: 5vh 0 0 2vw;

    /* Style */
    width: 97%;
    height: 2.4vh;
    background-color: #4CAF50;
    box-shadow: 0 -4px 13px 5px #368cc6;
    border-radius: 7px;
    color: white;

    /* Children */
    text-align: center;
    line-height: 15px;

}

/* Navigation buttons placeholder styling */
.navButtonHolder{
    text-decoration: none;
}

/* Navigation buttons styling */
.navigationButton{
    background-color: Transparent;
    font-size: 2.2vh;
    justify-content: center;
    margin:0 6vw 0 6vw;

    outline: none;
    border: none;
}

/* Styling for different states of the buttons */
.navigationButton:active,
.navigationButton:hover{
    color: grey;
    border: none;
}


/* Link styling */
a,
a:visited,
a:active,
a:link,
a:hover{
    vertical-align: middle;
    display: inline-flex;
}

/* Main placeholder styling */
.contentHolder{
    text-align: center;
    border-width: 3px;
    border-style: groove;
    margin: 2vh 2vw 2vh 3.8vw;
    border-radius: 7px;
}

/* Header styling */
.header {
    text-align: center;
    font-family: arial, sans-serif;
}


/* User table styling */
.userTable {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
}

.userTable td, .userTable th {
    border: 1px solid #ddd;
    padding: 0.1vw;
}

.users tr:nth-child(even){background-color: #f2f2f2;}

.userTable tr:hover {background-color: #ddd;}

.userTable th {
    padding-top: 1.2vh;
    padding-bottom: 1.2vh;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}

/* Data analysis styling */
.dropdownContainer{
    position: relative;
}

/* Data holder styling */
.dataHolder{
    display: flex;
    flex-direction: column;
}

/* Data styling */
.data{
    justify-content: space-between;
}

/* Redirection link*/
.redirectLink{
    font: bold 1vh Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    height: 2vh;
}
