.dash_header{
    text-align: left;
}

.dash_graph{
    display: inline-grid;
    grid-template-columns: 200px 200px 200px;
    grid-auto-rows: minmax(100px, auto);
    grid-row-gap: 15px;

    align-items: center;
    justify-content: space-evenly;
}
.dash_graph>div>a>img{
    height: auto;
    width: auto;
    max-width: 100%;
}
.dash_graph>div>a>img:hover{
    opacity: 0.8;
}
