
body {
    margin: 0 0 0 0;
    font-size: 1.5vmin;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    max-width: 98%;
}
/*
    root is the main div, so we style it as container
*/
:root,
 .container{
     width: 100%;
     max-width: 1200px;
     margin: 0 auto;
 }


/* Style link in a way they do not change depending on the state */
a,
a:visited,
a:active,
a:link,
a:hover{
    font-size: 300%;
    font-weight: 1000;
    color: #1a4008;
    text-decoration: none;
    margin-left: 0.6%;
}

/* Navigation bar */
.navigation_container{
    font-size: 0.5vh;
    display: inline-flex;
    justify-content: end;
    padding: 2.7vh 0 0 0;
    max-width: 90%;
}

.nav_link{
    position: relative;
    margin: 0 10px;
    font-size: 120%;
    font-weight: 600;

    background-color: Transparent;
    transition: color .1s linear;

    background-repeat:no-repeat;
    outline:none;
    border: none;
    white-space: nowrap;
}

.nav_link:hover{
    color: darkslategray;
    border-width: 0;
}

.nav_link:after{
    content: "";
    width: 100%;
    height: 2px;
    display: block;
    background-color: darkslategray;
    top: 100%;
    left: 0;
    z-index: 1;
    position: absolute;
    opacity: 0;
    transition: opacity 0.1s;
}

.nav_link:hover:after{
    opacity: 1;
}

/* Header*/
header{
    position: relative;
    margin: 0 0 0 2vw;

    color: #78bc55;
    min-width: 90%;
    max-width: 100%;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    border-bottom: 2px solid currentColor;
}

.header_inner{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    margin-top: 0.3645833333333333vw;
}

.logo{
    display: inline-flex;
    margin-bottom: 0;
}

@media only screen and (max-width: 600px) {
    .header_inner{
        flex-direction: column;
    }
    .logo{
        justify-content: center;
    }

    .navigation_container{
        width: 100%;
        max-width: 100%;
        padding: 2.5vw 0 0 0;
        justify-content: space-between;
    }
}

.favicon_container{
    display: inline;
    height: auto;
    overflow: hidden;
    margin-right: 0.5vw;
}

.favicon{
    object-fit: contain;
    width: 3.5vw;
    padding-right: 0.2vw;
    height: auto;
}

.main{
    text-align:center;
}
