
body {
    margin: 0 0 0 0;
    font-family: 'Montserrat', sans-serif;
    max-width: 98%;
}

/*
    root is the main div, so we style it as container
*/
:root,
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


/* Style link in a way they do not change depending on the state */
a,
a:visited,
a:active,
a:link,
a:hover {
    font-size: 300%;
    font-weight: 750;
    color: #1a4008;
    text-decoration: none;
    margin-left: 0.6%;
}

/* Navigation bar */
.navigationContainer {
    font-size: 0.5vh;
    display: inline-flex;
    align-items: center;
}

.navLink {
    position: relative;
    margin: 0 10px;
    font-size: 120%;
    font-weight: 600;

    background-color: Transparent;
    transition: color .1s linear;

    background-repeat: no-repeat;
    outline: none;
    border: none;
    white-space: nowrap;
}

.navLink:hover {
    color: darkslategray;
    border-width: 0;
}

.navLink:after {
    content: "";
    width: 100%;
    height: 2px;
    display: block;
    background-color: darkslategray;
    top: 100%;
    left: 0;
    z-index: 1;
    position: absolute;
    opacity: 0;
    transition: opacity 0.1s;
}

.navLink:hover:after {
    opacity: 1;
}


/* Header*/
header {
    position: relative;
    margin: 0 0 0 2vw;

    color: #78bc55;
    min-width: 90%;
    max-width: 100%;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    border-bottom: 2px solid currentColor;
}

.headerInner {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    margin-top: 0.3645833333333333vw;
}

.logo {
    display: inline-flex;
    margin-bottom: 0;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .headerInner {
        flex-direction: column;
    }

    .logo {
        justify-content: center;
        font-size: xx-small;
    }

    .navigationContainer {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        width: 100%;
        max-width: 100%;
        justify-content: space-between;
        font-size: .7vh;
        overflow: scroll;
        -ms-overflow-style: none;  /* IE and Edge */
    }

    .navigationContainer::-webkit-scrollbar {
        display: none;
    }

    .favicon {
        width: 5vh;
    }

    header {
        position: sticky;
        background-color: rgba(243, 255, 245, 1) !important;
    }
}

@media only screen and (min-width: 768px) {
    .favicon {
        width: 6vh;
    }
}

.faviconContainer {
    display: inline;
    height: auto;
    overflow: hidden;
    margin-right: 0.5vw;
}

.favicon {
    object-fit: contain;
    padding-right: 0.2vw;
    height: auto;
}

.main {
    text-align: center;
    font-size: small;
    margin: 0 5vw 0 5vw;
    overflow-x: hidden;
}

.tips {
    text-align:center;
    font-size: small;
    margin: 0 5vw 0 5vw;
    padding: 0 2vw 0 2vw;
    background: #78bc55;
    border-radius: 50px 50px 50px 50px;
}

.dashboardTable {
    padding: 0;
    margin: 0;
    font-size: 15px;
    border: 1px solid darkgreen;
    border-spacing: 0;
}

