body{
    margin: 0;

    font-size: 15px;
    line-height: 1.6;
    color: #333333;
}

*,
*:before,
*:after{
    box-sizing: border-box;
}

root,
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
}

nav{
    font-size: 14px;
    text-transform: uppercase;
}

.nav_link{
    display: inline-block;
    margin: 0 15px;
}

.favicon{
    margin-left: 1.5%;
    object-fit: contain;
    height: 40px;
}

a,
a:visited,
a:active,
a:link,
a:hover{
    font-size: 300%;
    font-weight: 1000;
    color: #1a4008;
    text-decoration: none;
    margin-left: 0.6%;
}







footer{
    position: absolute;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: cadetblue;
    width: 100%;
    height: 6%;
    bottom: 0;
    left: 0;
    right: 0;
}

footer p{
    align-self: start;
}

footer p + p{
    margin-left: 40px;
}

footer p + img{
    margin-left: 40px;
}

footer img{
    align-self: center;
    object-fit: contain;
    height: 70%;
}

form{
    margin-left: 5px;
}
